{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

 
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Create new partner</h3>
        <div class="tile-body">
          <form id="sumbitformpratner">
           <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">name</label>
                    <input class="form-control" type="text" name="partner_name" maxlength="200" required placeholder="Enter full name">
                  </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label"> abbreviation</label>
                    <input class="form-control" type="text" name="partner_abbreviation" maxlength="50" required placeholder="Enter abbreviation">
                  </div>
            </div>
           </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label ">email</label>
                    <input class="form-control" type="email" name="partner_email" maxlength="100" required placeholder="Enter email address">
                  </div>

                  
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                    <label class="form-label">phone</label>
                    <input class="form-control" type="number" name="partner_phone" maxlength="20" required placeholder="Enter phone address">
                  </div>
              </div>
            </div>
         
            <div class="mb-3">
              <label class="form-label">address</label>
              <textarea class="form-control" rows="4" name="partner_address" maxlength="200" required placeholder="Enter your address"></textarea>
            </div>
           <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">tax  </label><small class="form-text text-muted"> max 50 %</small>
                    <input class="form-control" type="number" name="partner_tax" max="2" max="1" required placeholder="Enter tax">
                  </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">status</label>
                    <select class="form-control" id="exampleSelect1" required name="partner_status">
                      <option >select status</option>
                      <option value="1">active</option>
                      <option value="0">inactive</option>
                  
                    </select>
                  </div>
                 
            </div>

            <div class="col-md-4">
                <div class="mb-3">
                    <label class="form-label">partner logo</label>
                    <input class="form-control" type="file" name="partner_logo" required >
                  </div>

            </div>
           </div>
            <div class="mb-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="partner_check">I accept the terms and send notif to the partner mail
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="tile-footer">
          <button class="btn btn-primary" form="sumbitformpratner" type="submit"><i class="bi bi-check-circle-fill me-2"></i>Register</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="{% url 'accounts:partner_view' %}"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
        </div>
      </div>
    </div>
    

 
  </div>


{% endblock %}
