{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

 
  

  

  <div class="app-title">
    <div>
      <h1> <i class="bi bi-file-earmark-text"></i>
        <a href="{% url 'course:course_view'%}">{{course.course_name}}</a></h1>
        <hr>
      <p>{{course.org_partner}} || {{course.type_course}} || {{course.start_date}} || {{course.author}} || {{course.status_course}}</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      
      <li class="breadcrumb-item"><!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
          New Section
        </button></li>
    </ul>
  </div>
 



        






  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      {% for i in catg %}
      {% if not i.children.all %}
        <h2 class="accordion-header" id="headingOne">
         
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{i.slug}}" aria-expanded="true" aria-controls="collapseOne">
               <h5>    <a href="#" id="coba-{{i.id}}"  ondblclick="mySection(this.id)" >{{i.title}} <i class="bi bi-pencil-square"></i></a> </h5> 
             
              
            </button>
            
        </h2>







        <div id="{{i.slug}}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">

              <div class="accordion" id="sub-accordionExample">
               





        <!--add new sub section-->
        <form class="row">
                        
          <div class="mb-3 col-md-10">
           <label></label>
            <input class="form-control" type="text" id="titlex-{{i.id}}" placeholder="Enter new sub section">
            <input class="form-control" type="text" name="{{course.org_partner.id}}" id="section_id_coursesx-{{i.id}}" value="{{i.mk_id}}" hidden disabled>
            <input class="form-control" type="text" name="parent_idx" id="parent_idx-{{i.id}}" value="{{i.id}}" hidden disabled>
          </div>
       
          <div class="mb-3 col-md-2 align-self-end">
            <button class="btn btn-primary" type="button" id="{{i.id}}" onClick="reply_click(this.id)"><i class="bi bi-check-circle-fill me-2"></i>add</button>
          </div>
        </form>
<!--end form new subsection-->
               
              </div>
          </div>
      </div>



               

        {% else %}
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{i.slug}}" aria-expanded="true" aria-controls="collapseOne">
            <h5>  <a href="{{i.slug}}">111111111{{i.title}} <i class="bi bi-pencil-square"></i></a> </h5> 
          </button>
      </h2>

      

        <div id="{{i.slug}}" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">

                <div class="accordion" id="sub-accordionExample">
                      <div class="accordion-item">
                        {% for obj in i.children.all %}
                      {% if not obj.children.all %}
                          <h2 class="accordion-header" id="sub-headingOne"> 
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{obj.slug}}" aria-expanded="false" aria-controls="collapseOne">
                                   <a href="#">{{obj.title}} <i class="bi bi-pencil-square"></i></a> 
                              </button>
                          </h2>
                          
                          {% else %}

                          <h2 class="accordion-header" id="sub-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{obj.slug}}" aria-expanded="false" aria-controls="collapseOne">
                              dua  {{obj.title}}
                            </button>
                        </h2>

                        {% for subobj in obj.children.all %}

                          <div id="{{obj.slug}}" class="accordion-collapse collapse show" aria-labelledby="sub-headingOne" data-bs-parent="#sub-accordionExample">
                              <div class="accordion-body">
                                  <strong>{{subobj.title}}.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                              </div>
                          </div>
                          {% endfor %}

                          {% endif %}
                  {% endfor %}
                      </div>
                 

<!--add new sub section-->
                      <form class="row">
                        
                        <div class="mb-3 col-md-10">
                         <label></label>
                          <input class="form-control" type="text" id="titlex-{{i.id}}" placeholder="Enter new sub section">
                          <input class="form-control" type="text" name="{{course.org_partner.id}}" id="section_id_coursesx-{{i.id}}" value="{{i.mk_id}}" hidden>
                          <input class="form-control" type="text" name="parent_idx" id="parent_idx-{{i.id}}" value="{{i.id}}"  hidden>
                        </div>
                     
                        <div class="mb-3 col-md-2 align-self-end">
                          <button class="btn btn-primary" type="button" id="{{i.id}}" onClick="reply_click(this.id)"><i class="bi bi-check-circle-fill me-2"></i>add</button>
                        </div>
                      </form>
<!--end form new subsection-->

                     



                </div>
            </div>
        </div>



        {% endif %}
        {% endfor %}

    </div>
</div>














<!-- Modal section -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create New Section</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  method="POST" action="" >
          {% csrf_token %}
          <div class="row">
              <div class="col-md-12">
                  <div class="mb-3" >
                   
                   <p id="hasil" ></p>
                      <input class="form-control" type="text" name="title1" id="title1" maxlength="250"  required placeholder="Section">
                      <input class="form-control" type="text" name="{{course.org_partner.id}}" id="mk_id" value="{{course.org_partner.id}}" hidden>
                    </div>

                  
              </div>
           
       
         </div>
             
      
      
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="btnSaveSection"  class="btn btn-primary"><i class="bi bi-check-circle-fill me-2"></i>save</button>
      </div>
    </div>
  </div>
</div>
  







  <script>// Save data
    //$("#er").toggle();
    function mySection(clicked_id) {
        // $("#coba").html('');
        //var coba = `#coba-${clicked_id}`
        //var cobaa = $(coba).val();
        //console.log(cobaa);
    }

// add section
    $('#btnSaveSection').click(function(){
        //console.log("Button Save Clicked");
        output ="";
        //let sid = $('#id_course').val();
        let mk_id = $('#mk_id').val();
        let title = $('#title1').val();
        
        if(title == ""){
          alert("title not empety");
          return false;
        }else{
            mydata = {title:title,mk_id:mk_id};
    
            console.log(mydata);
            $.ajax({
                url: "{% url 'course:course_section' %}",
                method: "POST",
                data: mydata,
    
                success:function(data){
                                     $('form')[0].reset();
                                     alert("sucess add section");

                                     window.location.reload();
                        
                                    }
            });
    
          }

   
    
    })
    
      //endaddsection

      //add subsection sudah ada data

    



        function reply_click(clicked_id)
        {
          var title = `#titlex-${clicked_id}`
          var mk_id = `#section_id_coursesx-${clicked_id}`
          var parent_id = `#parent_idx-${clicked_id}`
          
         var title = $(title).val();
         var mk_id = $(mk_id).val();
         var parent_id = $(parent_id).val();
         console.log(title);
         console.log(mk_id);
         console.log(parent_id);
         
         if(title == ""){
            console.log("Please section");
       
        }else{
            //console.log(n);
            //console.log(e);
            //console.log(c);
    
            mydata = {title:title,mk_id:mk_id,parent_id:parent_id};
    
            //console.log(mydata);
            $.ajax({
                url: "{% url 'course:course_sub' %}",
                method: "POST",
                data: mydata,
    
                success:function(data){
                                        x = data.section_data;
                                        alert("success");
                                        console.log(title);
                                        console.log($('form'));
                                        title.reset();
                                        $('form')[0].reset();
                                           
                                        location.reload();
                                           // window.location.reload();
                        
                                    }
            });
    }

        }
        




        function reply_click(clicked_id)
        {
          var title = `#titlex-${clicked_id}`
          var mk_id = `#section_id_coursesx-${clicked_id}`
          var parent_id = `#parent_idx-${clicked_id}`
          
         var title = $(title).val();
         var mk_id = $(mk_id).val();
         var parent_id = $(parent_id).val();
         console.log(title);
         console.log(mk_id);
         console.log(parent_id);
         
         if(title == ""){
            console.log("Please section");
       
        }else{
            //console.log(n);
            //console.log(e);
            //console.log(c);
    
            mydata = {title:title,mk_id:mk_id,parent_id:parent_id};
    
            //console.log(mydata);
            $.ajax({
                url: "{% url 'course:course_sub' %}",
                method: "POST",
                data: mydata,
    
                success:function(data){
                                        x = data.section_data;
                                        alert("success");
                                        console.log($(`#titlex-${clicked_id}`));
                                        $(`#titlex-${clicked_id}`).val('');
                                        $('form')[0].reset();
                                        location.reload(); 
                                           // window.location.reload();
                        
                                    }
            });
    }

        }
        
   

    </script>

{% endblock %}


